amf:
  config:
    guamiList:
    - amf_id:
        region: 2
        set: 1
      plmn_id:
        mcc: '999'
        mnc: '70'
    plmnList:
    - plmn_id:
        mcc: '999'
        mnc: '70'
      s_nssai:
      - sd: '0x111111'
        sst: 1
    taiList:
    - plmn_id:
        mcc: '999'
        mnc: '70'
      tac:
      - 1
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
ausf:
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
bsf:
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
hss:
  enabled: false
mme:
  enabled: false
nrf:
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
nssf:
  config:
    nsiList:
    - nrf:
        hostname: ''
        port: 7777
      sd: '0x111111'
      sst: 1
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
pcf:
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
pcrf:
  enabled: false
populate:
  enabled: true
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
sgwc:
  enabled: false
sgwu:
  enabled: false
smf:
  config:
    pcrf:
      enabled: false
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
udm:
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
udr:
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
upf:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: upfInstanceSize
            operator: In
            values:
            - Small
  replicaCount: 1
webui:
  enabled: false
  ingress:
    enabled: false
  nodeSelector:
    eks.amazonaws.com/nodegroup: control-plane
